<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="WebAutomationFramework">
        <classes>
            <class name="com.thetestingacademy.TestVWOLogin">
                <methods>
                    <include name="testLoginNegativeVWO"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>